.mySwiper3 {
    max-width: 700px;
    border: 1px solid gray;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-container {
    margin-left: 10rem;
  }


.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  border: 1px solid gray;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid #007ab8;
  box-sizing: border-box;
}

.mySwiper .swiper-slide-thumb-active::before {
  opacity: 1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6px;
  background-color: #007ab8;
  
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiperThumb {
  width: 7rem!important;
  height: 3.9rem!important
}

.mySwiper {
  width:  500px!important;
}


@media (max-width: 640px) {
  .mySwiper3  {
    width:480px!important;
    height: 100%;

  }

  .mySwiper {
    width:  420px!important;
  }


  .swiperThumb {
    width: 5.5rem!important;
    height: 3.9rem!important;
    transform: translate3d(20px, 0px, 0px)!important;
    -webkit-transform: translate3d(20px, 0px, 0px)!important;
    -moz-transform: translate3d(20px, 0px, 0px)!important;
    -ms-transform: translate3d(20px, 0px, 0px)!important;
    -o-transform: translate3d(20px, 0px, 0px)!important;
  }
  
}

