@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.button-before a {
  background-color: transparent;
  color: #fff;
  padding: 1.2rem 8rem;
  border: 1px solid #fff;
  text-decoration: none;
  display: block;
  background-image: linear-gradient(to left, transparent, transparent 50%,#fff 50%,#fff);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  -webkit-transition: all .25s ease-in;
  -moz-transition: all .25s ease-in;
  -ms-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
}

.button-before a:hover {
  background-position: 0 0;
  background-color: transparent;
  opacity: 0.9;
  color: #000;
  -webkit-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  text-decoration: none;
}



.user-photo {
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  width: 80px;
}

.user-testimonial {
  font-size: large;
}


@media (max-width: 442px) {
 .swiper-button-prev:after {
    display: none;
 }

 .swiper-container {
   max-width: 90%;
 }
}

@media (min-width: 640px) {
  .swiper-slide.swiper-slide  {
    /* and finally the 4 column layout */
    width: 25%;
}}

.mySwiper2 .swiper-container {
  width: 100%!important;
}

.hero-syze {
  height: 450px;
}

@media (min-width: 1024px) {
  .hero-syze {
    height: 550px;
  }
}



